<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- Mermaid.js -->
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
      mermaid.initialize({
        startOnLoad: true,
        theme: 'default',
        securityLevel: 'loose',
        themeVariables: {
          'primaryColor': '#2a2a2a',
          'primaryTextColor': '#fff',
          'primaryBorderColor': '#2a2a2a',
          'lineColor': '#fff',
          'secondaryColor': '#1a1a1a',
          'tertiaryColor': '#2a2a2a'
        }
      });
    </script>
  </body>
</html> 